################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagementPlatformBE/.vs/TaskManagementPlatformBE/v15
