<div class="modal-header">
    <h4 class="modal-title">Modificare parola generata</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

    Este recomandat să modificați parola generată automat la înregistrare.

    <div class="form-group">
      Email:
      <input (keydown.enter)="changePassword()" type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': getPasswordFormControls['email'].errors }" />
      <div *ngIf="getPasswordFormControls['email'].errors" class="invalid-feedback">
        <div *ngIf="getPasswordFormControls['email'].errors.required">Email este un câmp necesar</div>
        <div *ngIf="getPasswordFormControls['email'].errors.email">Adresa de email introdusă nu este validă</div>
      </div>
    </div>
    <div class="form-group">
      Parola veche:
      <input (keydown.enter)="changePassword()" type="password" class="form-control" formControlName="oldPassword" [ngClass]="{ 'is-invalid': getPasswordFormControls['oldPassword'].errors }" />
      <div *ngIf="getPasswordFormControls['oldPassword'].errors" class="invalid-feedback">
        <div *ngIf="getPasswordFormControls['oldPassword'].errors.required">Parola veche este un câmp necesar</div>
        <div *ngIf="getPasswordFormControls['oldPassword'].errors.minlength">Parola trebuie sa aibă cel puțin 6 caractere</div>
      </div>
    </div>
      <div class="form-group">
      Parola noua:
      <input (keydown.enter)="changePassword()" type="password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': getPasswordFormControls['newPassword'].errors }" />
      <div *ngIf="getPasswordFormControls['newPassword'].errors" class="invalid-feedback">
        <div *ngIf="getPasswordFormControls['newPassword'].errors.required">Parola noua este un câmp necesar</div>
        <div *ngIf="getPasswordFormControls['newPassword'].errors.minlength">Parola trebuie sa aibă cel puțin 6 caractere</div>
      </div>
      </div>
    <div class="form-group">
      Confirmare parola noua:
      <input (keydown.enter)="changePassword()" type="password" class="form-control" formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': getPasswordFormControls['confirmNewPassword'].errors }" />
      <div *ngIf="getPasswordFormControls['confirmNewPassword'].errors" class="invalid-feedback">
        <div *ngIf="getPasswordFormControls['confirmNewPassword'].errors.required">Confirmare parolă noua este un câmp necesar</div>
        <div *ngIf="getPasswordFormControls['confirmNewPassword'].errors.mustMatch">Parolele nu trebuie să difere</div>
      </div>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn focus-btn col-6" (click)="changePassword()" ngbAutofocus>Salvare</button>
  <button type="button" class="btn sec-focus-btn col-6" (click)="activeModal.close('Close click')">Anulare</button>
</div>