<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/6aec836a-83e9-4479-bc12-b7beb1e2a2d3/resourcegroups/BFY/providers/Microsoft.Web/sites/ContrAllStudioManagementBackend</ResourceId>
    <ResourceGroup>BFY</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://contrallstudiomanagementbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/6aec836a-83e9-4479-bc12-b7beb1e2a2d3/resourcegroups/BFY/providers/Microsoft.ContainerRegistry/registries/registry20190702014654</ContainerResourceId>
    <ContainerResourceName>registry20190702014654</ContainerResourceName>
    <Subscription>Pay-as-You-Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20190702014654.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a67b32b8-d2c5-4068-be3d-4740ef6dc52b</ProjectGuid>
  </PropertyGroup>
</Project>