<div style="padding: 30px;" class="d-flex flex-wrap" >
  <div style="width: 100%; overflow: scroll; max-height: auto;" class="d-flex flex-wrap" >
    <div class="table-container" style="margin-top: 30px; max-height: 75vh;">
    <div cdkDropListGroup>
      <div class="example-container">
        <h2>Open</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="open"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of open" cdkDrag>{{item}}</div>
        </div>
      </div>
    
      <div class="example-container">
        <h2>In Progress</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="inProgress"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Blocked</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="blocked"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of blocked" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>QA Ready</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="qaReady"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of qaReady" cdkDrag>{{item}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Closed</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="closed"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of closed" cdkDrag>{{item}}</div>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>