<div class="container-fluid bg-dark">
  <div class="container" style="color: white;">
    <div class="row" style="padding-top: 40px; padding-bottom: 20px;">
      <div class="main-info col-md-6 col-lg-3">
        <a href="#">
          <img src="../../assets/images/main-logo.svg" width="150">
        </a>
        <div class="social-icons d-flex" style="flex-wrap: wrap; margin-top: 20px;">
          <a href="#">
            <img src="../../assets/images/facebook.svg" width="40" style="margin-right: 10px;">
          </a>
          <a href="#">
            <img src="../../assets/images/twitter.svg" width="40" style="margin-right: 10px;">
          </a>
          <a href="#">
            <img src="../../assets/images/linkedin.svg" width="40" style="margin-right: 10px;">
          </a>
        </div>
      </div>
      <div class="contact-zone col-md-6 col-lg-3" style="margin-bottom: 20px;">
        <div class="footer-title">
          Suport
        </div>
        <div class="line-separator"></div>
        <div class="footer-link">
          Contact
        </div>
        <div class="footer-link">
          Termeni si Conditii
        </div>
        <div class="footer-link">
          FAQ
        </div>
      </div>
      <div class="support-zone col-md-6 col-lg-3">
        <div class="footer-title">
          Produse
        </div>
        <div class="line-separator"></div>
        <div class="footer-link">
          Facturare
        </div>
        <div class="footer-link">
          Gestiune + Facturare
        </div>
      </div>
      <div class="resource-zone col-md-6 col-lg-3">
        <div class="footer-title">
          Resurse
        </div>
        <div class="line-separator"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-base d-flex justify-content-center">
  <div class="base-text" style="text-align: right;">
    <a href="#">
      Politica de Confidentialitate
    </a>
  </div>
  <div class="vertical-separator">|</div>
  <div class="base-text">
    <a href="#">
      ANPC
    </a>
  </div>
  <div class="vertical-separator">|</div>
  <div class="base-text" style="text-align: left;">
    <a href="#">
      Bussiness For You SRL, All rights reserved
    </a>
  </div>
</div>
