<div style="padding: 30px;" class="d-flex flex-wrap">
    <div style="width: 30%; overflow: scroll; max-height: auto;" class="d-flex flex-wrap">
        <div class="table-container">

            <div style="max-height: auto;">
                <div class="panel-body">
                    <div class="t1">
                        <div class="t2">
                              
                            <ngb-accordion [closeOthers]="true">
                                <ngb-panel ngbPanelHeader id="useri" title="Useri">
                                    <ng-template ngbPanelHeader>
                                        <a class="d-flex tab-categories" [ngClass]="">
                                            <button class="jeg-btn" ngbPanelToggle style="float: left; width: 90%; height: 75;" data-toggle="expend">
                                                Useri
                                            </button>
                                        </a>
                                    </ng-template>

                                    <ng-template ngbPanelContent>
                                        <div *ngFor="let user of users; index as userId" id="static2-{{userId}}" class="d-flex flex-wrap">
                                            <a [routerLink]="['user', user.id]" class="d-flex tab-sdm" (click)="tabSelect(userId)" [ngClass]="{'tab-sdm-selected': tabSelected==userId}" style="width: 85%;">
                                                <h6 style="margin-left: 10px;">{{user.fullName}}</h6>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel ngbPanelHeader id="date" title="Date">
                                    <ng-template ngbPanelHeader>
                                        <a class="d-flex tab-categories" [ngClass]="">
                                            <button class="jeg-btn" ngbPanelToggle style="float: left; width: 90%; height: 75;" data-toggle="expend">
                                                Date
                                            </button>
                                        </a>
                                    </ng-template>
                                
                                    <ng-template ngbPanelContent>
                                            <div *ngFor="let year of years; index as year" id="static2-{{year}}" class="d-flex flex-wrap">
                                                <a [routerLink]="['year', year]" class="d-flex tab-sdm" (click)="tabSelect(year);" [ngClass]="{'tab-sdm-selected': tabSelected==userId}" style="width: 85%;">
                                                    <h6 style="margin-left: 10px;">{{year}}</h6>
                                                </a>
                                            </div>
                                        </ng-template>
                                </ngb-panel>
                            </ngb-accordion>

                        <ngb-accordion [closeOthers]="true">
                           
                        </ngb-accordion>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 65%; margin-left: 10px; height: 70px;">
        <router-outlet></router-outlet>
    </div>
</div>